# ==================================================================================================
#
# Dotfiles
#
# ==================================================================================================
/**
!/.bash.d/
!/.bash.d/*
!/.bash_logout
!/.bash_profile
!/.bashrc
/.bash.d/bashrc.local

!/.config/
!/.config/beets/
!/.config/beets/config.yaml
!/.config/beets/genres.txt
!/.config/git/
!/.config/git/ignore

!/.profile
!/.profile.d/
!/.profile.d/*


!/.editrc
!/.gitignore
!/.inputrc
!/.kshrc
!/.pre-commit-config.yaml
!/.pylintrc
!/.pythonrc
!/.selected_editor
!/.spacemacs
!/.toprc
!/.wgetrc
!/.xscreensaver
!/.xsession
