#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Setup gitattributes
#

# Automatically normalize line endings for all text-based files
* text=auto

# These files nolonger exist
#ssh/config.d/olympus filter=git-crypt diff=git-crypt
#ssh/config.d/drbr filter=git-crypt diff=git-crypt
#ssh/config.d/swg filter=git-crypt diff=git-crypt
#ssh/config.d/hm filter=git-crypt diff=git-crypt
