# ==================================================================================================
#
# Dotfiles
#
# ==================================================================================================
/**
!/.bash/
!/.bash/*
!/.bash_logout
!/.bash_profile
!/.bashrc
/.bash/bashrc.local

!/.config/
!/.config/beets/
!/.config/beets/config.yaml
!/.config/beets/genres.txt
!/.config/git/
!/.config/git/ignore

!/.editrc
!/.gitignore
!/.inputrc
!/.kshrc
!/.profile
!/.pylintrc
!/.pythonrc
!/.selected_editor
!/.spacemacs
!/.toprc
!/.xscreensaver
!/.wgetrc
!/.pre-commit-config.yaml
